<html>
    {{> header }}
    <body>
        <div id="container">
            <main>
                <div id="body">
                    {{{ body }}}
                </div>
            </main>
            <nav>
                <div id="side">
                    {{> side }}
                </div>
            </nav>
        </div>
    </body>
</html>
