{{#> layout }}
    {{#*inline "main"}}
        <ul>
        {{#each articles}}
            <li><a href="/{{path}}">{{title}}{{#if date}} ({{date}}){{/if}}</a></li>
        {{/each}}
        </ul>
    {{/inline}}
{{/layout}}
