{{#> layout }}
    {{#*inline "main"}}
        <ul>
        {{#each articles}}
            <li><a href="/{{ with_extension relpath "html" }}">{{title}}{{#if date}} ({{date}}){{/if}}</a></li>
        {{/each}}
        </ul>
    {{/inline}}
{{/layout}}
