{{#> layout }}
    {{#*inline "main"}}
        <ul>
        {{#each articles}}
            <li /><a href="/{{path}}">{{title}}{{#if date}} ({{date}}){{/if}}</a>
        {{/each}}
        </ul>
        <div style="border-top: solid black 1Q; padding-top: 1rem">
            相互リンク
            <ul>
                <li /><a href="https://natuka.ge">Natuka.ge</a>
                <li /><a href="https://diary.199024.club">日記</a>
            </ul>
        </div>
    {{/inline}}
{{/layout}}
