<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{title}}{{#if blog_name}}{{#if title}} | {{/if}}{{/if}}{{blog_name}}</title>
        <link rel="stylesheet" href="/public/style.css">

        <script src="/public/prism.js"></script>
        <link rel="stylesheet" href="/public/prism.css">
        {{> additional_header }}
    </head>
    <body>
        <header>
            {{#if blog_name}}<h1>{{ blog_name }}</h1>{{/if}}
            <nav id="breadcrumbs">{{{ breadcrumbs (with_extension relpath "html") }}}</nav>
        </header>
        <div id="container">
            <main>
                {{> main }}
            </main>
            {{!-- <nav id="side">
                タグ一覧
            </nav> --}}
        </div>
        {{!-- <footer></footer> --}}
    </body>
</html>
