{{#> layout }}
    {{#*inline "main"}}
        <h2> {{ title }} </h2>
        <ui>
        {{#each articles}}
            <li /><a href="/{{path}}">{{title}}{{#if date}} ({{date}}){{/if}}</a>
        {{/each}}
        </ul>
    {{/inline}}
{{/layout}}
