{{#> layout }}
    {{#*inline "main"}}
        <nav>
            {{{ breadcrumbs path }}}
        </nav>
        <main>
            <h2> Tag: {{ tag }} </h2>
            <ui>
            {{#each articles}}
                <li /><a href="/{{path}}">{{title}}</a>
            {{/each}}
            </ul>
        </main>
    {{/inline}}
{{/layout}}
