:root {
  --card-radius: 2mm;
}

body {
  margin: 5rem auto;
  width: min(calc(100vw - 4rem), 50rem);
  overflow-wrap: break-word;
}

ul,
ol {
  padding-left: 1rem;
}

@media screen and (min-width: 70rem) {
  /* for desktop */
  body {
    margin: 5rem;
    width: initial;
    max-width: 45rem;
  }

  /* #container {
    display: grid;
    grid-template-columns: 45rem 15rem;
    gap: 5rem;
  } */
}

a.og-href {
  display: block;
  width: min(35em, 100%);
  height: 5em;
  color: inherit;
  text-decoration: none;
  border: solid black 0.5mm;
  border-radius: var(--card-radius);
  padding-inline-start: 1em;
  margin-block: 1em;
}

.og-card {
  display: flex;
  flex-flow: row;
  height: 100%;
}

.og-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 2.5mm;

  overflow: hidden;
}

.og-text > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.og-title {
  font-weight: bold;
}

.og-desc {
  font-size: 0.5em;
}

.og-url {
  font-size: 0.25em;
}

.og-spacer {
  flex-grow: 1;
}

.og-image {
  height: 100%;
  border-radius: 0 var(--card-radius) var(--card-radius) 0;
}
