body {
  margin: 5rem auto;
  width: min(calc(100vw - 4rem), 50rem);
  overflow-wrap: break-word;
}

ul, ol {
  padding-left: 1rem;
}

@media screen and (min-width: 70rem) {
  /* for desktop */
  body {
    margin: 5rem;
    width: initial;
    max-width: 45rem;
  }

  /* #container {
    display: grid;
    grid-template-columns: 45rem 15rem;
    gap: 5rem;
  } */
}
